<div class="container w-75 mx-auto mt-5">
  <div class="row">
    <div class="col text-center">
      <h1>This is a project for the course of Web Programming on the Faculty of Computer Science and Engineering, Skopje</h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h3>This is a Fundraising system and with the help of it companies, organizations or even standalone users can keep track of their fundraising process for their events or other needs.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h3>Made by Andrej Kocev - 173148, and Filip Tanevski - 173165.</h3>
    </div>
  </div>
</div>
