<div class="d-flex container w-25 m-5 p-5 mx-auto border border-dark rounded">
  <div class="container flex-row">
    <h1 class="mb-4 p-2">Login</h1>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="form-floating mb-3">
        <input
          type="username"
          class="form-control"
          placeholder="Username"
          name="username"
          ngModel
          required
          #username="ngModel"
        />
          <p class="help-block mt-2" *ngIf="!username.valid && username.touched"><i class="fa-solid fa-circle-exclamation me-1"></i>Please enter a username!</p>
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          name="password"
          ngModel
          required
          #password="ngModel"
        />
        <p class="help-block mt-2" *ngIf="!password.valid && password.touched"><i class="fa-solid fa-circle-exclamation me-1"></i>Please enter a password!</p>
        <label for="floatingInput">Password</label>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
