<div class="d-flex container w-25 m-5 p-5 mx-auto border rounded">
  <div class="container flex-row">
    <h1 class="mb-4 p-2">Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-floating mb-3">
        <input
          type="username"
          class="form-control"
          id="floatingInput"
          placeholder="Username"
          name="username"
          formControlName="credentials.username"
        />
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="floatingInput"
          placeholder="Password"
          name="password"
          formControlName="credentials.password"
        />
        <label for="floatingInput">Password</label>
      </div>
      <p>{{credentials.password}}</p>
      <button type="submit" class="btn btn-primary" (click)="login($event)">Login</button>
    </form>
  </div>
</div>
